<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="CustomerId" value="1"/>
    <add key="DbCon" value="Data Source=localhost;Initial Catalog=TeamDaze;Persist Security Info=True;User Id=sa;Password=Sterling@1" />
    <add key="NibssBaseApiUrl" value="https://hackathon.nibss-plc.com.ng/hackathon" />
    <add key="hackAES" value="iK1CULa1S03a339G" />
    <add key="hackIVKey" value="rP4GGLKugLGaynBf" />
    <add key="MaxAmount" value="100000" />
    <add key="hackHASH" value="EBFsbfTkLAB0RW8rEtm3Fw5iu3jckSMjIxOTkyNDA2NDE=" />
  </appSettings>
</configuration>